<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<form action="/action_page.php">
  <p>do you buy flour or bread:</p>
  <input type="radio" id="html" name="i" value="i">
  <label for="html">flour</label><br>
  <input type="radio" id="css" name="i" value="i">
  <label for="css">bread</label><br>
  

<br>

  <p>how far is the nearest place tht sells gulten free food:</p>
  <input type="radio" id="html" name="ii" value="ii">
  <label for="html">in town</label><br>
  <input type="radio" id="css" name="ii" value="ii">
  <label for="css">nearest city </label><br>
  <input type="radio" id="javascript" name="ii" value="ii">
  <label for="javascript">further than that</label>

  <br>  
  <form action="/action_page.php">
  <p>what would you prefer buying :</p>
  <input type="radio" id="html" name="iii" value="iii">
  <label for="html">gluten-free ready product</label><br>
  <input type="radio" id="css" name="iii" value="iii">
  <label for="css">gluten-free flour</label><br>
  

<br>

<form action="/action_page.php">
  <p>can you eat food comftorbally in events:</p>
  <input type="radio" id="html" name="iiii" value="iiii">
  <label for="html">yes</label><br>
  <input type="radio" id="css" name="iiii" value="iiii">
  <label for="css">no</label><br>
 

  <br>  

 
  <p>do flour alternetivs provide flour like proprities  :</p>
  <input type="radio" id="html" name="s" value="s">
  <label for="html">yes</label><br>
  <input type="radio" id="css" name="s" value="s">
  <label for="css">no</label><br>
  <input type="radio" id="javascript" name="s" value="s">
  <label for="javascript">some do</label>
<br>
<br>
<label>anything else?</label>
<br>
<br>
<textarea name="paragraph_text" cols="50" rows="10"></textarea>

  <br>  
</body>
</html>